* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(211, 68%, 94%);
}

.page-container {
    background: white;
    width: 375px;
    padding: 5%;
    border-radius: 8px;
}

@media screen and (min-width: 601px) {
    .page-container {
        width: 600px;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.heading-left {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.title {
    color: hsl(224, 21%, 14%);
    font-weight: 800;
    font-size: 20px;
}

.number {
    margin-left: 10px;
    background-color: hsl(219, 85%, 26%);
    color: white;
    padding: 2.5% 10%;
    border-radius: 5px;
}

.mark {
    color: hsl(219, 12%, 42%);
    font-size: 15px;
    text-decoration: none;
}

.notifications-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.notification {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    background-color: hsl(210, 60%, 98%);
    border-radius: 8px;
    padding: 10px;
    width: 335px;
}

@media screen and (min-width: 601px) {
    .notification {
        width: 500px;
    }
}

.notification-read {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
    width: 335px;
    background: white;
}

@media screen and (min-width: 601px) {
    .notification-read {
        width: 500px;
    }
}

.avatar {
    width: 10%;
}

.text-time {
    margin-left: 2%;
    margin-top: 1%;
}

.link {
    color: hsl(224, 21%, 14%);
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
}

.link:hover, .mark:hover {
    color: hsl(228, 56%, 46%);
}

.notification-text {
    color: hsl(219, 12%, 42%);
    font-size: 500;
    font-size: 14px;
}

.time {
    color: hsl(219, 14%, 63%);
    font-size: 500;
    font-size: 14px;
    margin-top: 6px;
}

.message {
    width: 300px;
    border: 1px solid hsl(211, 68%, 94%);
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    cursor: pointer;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}

@media screen and (min-width: 601px) {
    .message {
        width: 455px;
    }
}

.message:hover {
    background-color: hsl(205, 33%, 90%);
}

.image {
    margin-left: 40px;
    width: 10%;
    cursor: pointer;
}

@media screen and (min-width: 601px) {
    .image {
        margin-left: 80px;
    }
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}